[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
aiohttp = "<4"
pytest-testrail = "*"
smwogger = "*"
pytest-asyncio = "*"
"flake8" = "*"

[dev-packages]
